.tags {
    display: flex;
    margin: 30px 0 30px 0;
    gap: 5px;
}

.tags .tag {
    background-color: #ff6060;
    border-radius: 10px;
    padding: 0 30px 0 30px;
}

.tags .tag p {
    color: white;
}