.gallery {
    display: flex;
    justify-content: center;
}

.gallery .container {
    position: relative;
    width: 100%;
    height: 415px;
    border-radius: 25px;
    background-color: blue;
    overflow: hidden;
}

.gallery .container .gallery--image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.gallery .container .leftArrow {
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translate(50%, -50%);
    cursor: pointer;
}

.gallery .container .rightArrow {
    position: absolute;
    top: 50%;
    right: 0%;
    transform: translate(-50%, -50%);
    cursor: pointer;
}

.gallery .container .nbPhoto {
    position: absolute;
    bottom: 10px;
    left: 50%;
    font-size: 18px;
    color: white;
}