footer {
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer #logo-footer {
    color: #61dafb;
    width: 122px;
    margin-top: 66px;
}

footer #copyrights {
    color: white;
    font-size: 24px;
    margin-bottom: 29px;
}

@media (max-width: 425px) {
    footer #copyrights {
        font-size: 12px;
    }
}

@media (max-width: 375px) {
    footer #logo-footer {
        width: 100px;
    }
}