.error-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.error-container #title-error,
#description-error,
#link-home {
  color: #ff6060;
  margin: 0;
}

.error-container #title-error {
    font-size: 288px;
}

.error-container #description-error {
    font-size: 36px;
    margin: 0 0 182px 0;
    text-align: center;
}

.error-container #link-home {
    font-size: 18px;
    margin: 0 0 159px 0;
}



@media (max-width: 425px) {
    .error-container {
        margin-top: 100px;
    }
    .error-container #title-error {
        font-size: 96px;
    }
    .error-container #description-error {
        font-size: 20px;
        margin: 0 40px 0 40px;
    }
    .error-container #link-home {
        font-size: 14px;
        margin-top: 145px;
    }
}